{% extends 'produto/base.html' %}

{% block content %}

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
    
    <div class="titulo">
      <h1 class="text-center">Lista de Produtos</h1>
    </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Descrição</th>
            </tr>    
          </thead>  
          <tbody class= "table table-list">
            {% for object in object_list %}
          
              {% url 'produto_detail' object.cod as url %}
              <tr class='clickable-row' data-href={{url}}>
                  <td>{{ object.cod}}</td>
                  <td>{{ object.name }}</td>
                  <td>{{ object.quantidade }}</td>
                  <td>{{ object.descricao }}</td>
              </tr>
              {% empty %}
              <p class="alert alert-warning">A lista está vazia</p>
            {% endfor %}
          </tbody>  
        </table>
      </div>
{% endblock %}
