{% extends 'produto/base.html' %}

{% block content %}
<style>
.btn {
    margin: 10px;
}
</style>
  <div class="detail-content">
    <div class="content-header position-relative">
    <a href={% url 'produto_list' %}>
        <button  type="button" class="btn btn-primary btn-large btn-voltar  text-left"><i class="fa-regular fa-circle-left"></i> Voltar </button>
    </a>
    
  <a href={% url 'deletar' object.cod %}>
    <button  type="button" class="btn btn-danger btn-large float-right"><i class="fa-solid fa-trash"></i> Excluir </button>
</a>
<a href={% url 'editar' object.cod %}>
  <button  type="button" class="btn btn-success btn-large float-right"><i class="fa-regular fa-pen-to-square"></i> Editar </button>
</a>
    </div>
    
    <h1 class="text-center"> 
      
      {% if object.quantidade > object.minimo %}
      <i class="fa-solid fa-circle-check" style="color:green"></i>
      {% elif object.quantidade <= object.minimo and object.quantidade > 0 %}
      <i class="fa-solid fa-triangle-exclamation" style="color:#FFA500"></i>
      {% else %}
      <i class="fa-solid fa-circle-minus" style="color:red"></i>
      {% endif %}
      
      {{object.name}}
    </h1>

    <table class="table">
        <tbody>
          <!--<tr>
            <th class="text-right">Importado</th>
            <td>
              {% if object.importado %}
                <i class="fa fa-check-circle ok"></i>
              {% else %}
                <i class="fa fa-minus-circle no"></i>
              {% endif %}
            </td>
          </tr>-->
          <tr>
            <th class="text-right">Código:</th>
            <td>{{ object.cod }}</td>
          </tr>
          <tr>
            <th class="text-right">Status:</th>
            <td>
              {% if object.quantidade > object.minimo %}
               Estoque Ok
              {% elif object.quantidade <= object.minimo and object.quantidade > 0 %}
               Estoque Baixo
              {% else %}
               Em Falta
              {% endif %}
            </td>
          </tr>
          <tr>
            <th class="text-right">Estoque:</th>
            <td>{{ object.quantidade }}</td>
          </tr>
          <tr>
            <th class="text-right">Estoque mínimo:</th>
            <td>{{ object.minimo }}</td>
          </tr>
          <tr>
            <th class="text-right">Descrição:</th>
            <td>{{ object.descricao }}</td>
          </tr>
        </tbody>
      </table>

  </div>  
{% endblock %}