{% extends 'produto/base.html' %}

{% block content %}

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
    
    <div class="titulo">
      <h1>Lista de Produtos</h1>
    </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
            </tr>    
          </thead>  
          <tbody>
            {% for object in object_list %}
          
              {% url 'produto_detail' object.quantidade as url %}
              <tr class='clickable-row' data-href={{url}}>
                  <td>{{ object.name}}</td>
                  <td>{{ object.quantidade }}</td>
                  <td>{{ object.descricao }}</td>
                
              </tr>
            

              {% empty %}
              <p>A lista está vazia</p>
            {% endfor %}
          </tbody>  
        </table>
{% endblock %}
