{% extends 'produto/base.html' %}

{% block content %}

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
    
    <div class="titulo">
      <h1 class="text-left"> Lista de Chamados       
        <a href={% url 'abertura' %}>
        <button  type="button" class="btn btn-primary btn-large btn-voltar  float-right"><i class="fa-sharp fa-solid fa-circle-plus"></i> Abrir Chamado </button>
        </a>
      </h1>
<!--
      <div class="row">
        <div class="col-sm-6">
          <form action="." method="GET" class="form-inline">
            <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
            <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="OK">
          </form>
        </div>
      </div>
    -->  

    </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tipo de Chamado</th>
              <th scope="col">Título</th>
              <th scope="col">Autor</th>
              <th class="text-center" scope="col">Data</th>
              <th scope="col">Código</th>

              
            </tr>    
          </thead>  
          <tbody class= "table table-list">
            {% for object in object_list %}
          
              {% url 'produto_detail' object.cod as url %}
              <tr class='clickable-row' data-href={{url}}>
                  <td> {{ object.get_tipoChamado_display }} </td>
                  <td >{{ object.titulo }}</td>
                  <td class="text-center">{{ object.usuario }}</td>
                  <td class="text-center">{{ object.data }}</td>
                  <td>{{ object.cod}}</td>
              </tr>
              {% empty %}
              <p class="alert alert-warning"> Não existem chamados no momento</p>
            {% endfor %}
          </tbody>  
        </table>
      </div>
{% endblock %}
