{% extends 'produto/base.html' %}

{% block content %}

<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
    
    <div class="titulo">
      <h1 class="text-left"> Lista de Produtos       
        <a href={% url 'abertura' %}>
        <button  type="button" class="btn btn-primary btn-large btn-voltar  float-right"><i class="fa-sharp fa-solid fa-circle-plus"></i> Abrir Chamado </button>
        </a>
      </h1>
<!--
      <div class="row">
        <div class="col-sm-6">
          <form action="." method="GET" class="form-inline">
            <input type="text" id="search" name="search" class="form-control" placeholder="Busca">
            <input type="submit" class="btn btn-primary" style="margin-left: 10px;" value="OK">
          </form>
        </div>
      </div>
    -->  

    </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Nome</th>
                <th class="text-center" scope="col">Quantidade</th>
                <th class="text-center" scope="col">Estoque Mínimo</th>
                <th scope="col">Tipo de Produto</th>
                <th scope="col">Código</th>
            </tr>    
          </thead>  
          <tbody class= "table table-list">
            {% for object in object_list %}
          
              {% url 'produto_detail' object.cod as url %}
              <tr class='clickable-row' data-href={{url}}>
                <td>
                  {% if object.quantidade > object.minimo %}
                  <i class="fa-solid fa-circle-check" style="color:green"></i>
                  {% elif object.quantidade <= object.minimo and object.quantidade > 0 %}
                  <i class="fa-solid fa-triangle-exclamation" style="color:#FFA500"></i>
                  {% else %}
                  <i class="fa-solid fa-circle-minus" style="color:red"></i>
                  {% endif %}
                </td>
                  <td>{{ object.name }}</td>
                  <td class="text-center">{{ object.quantidade }}</td>
                  <td class="text-center">{{ object.minimo }}</td>
                  <td> {{ object.get_tipo_display }} </td>
                  <td>{{ object.cod}}</td>
              </tr>
              {% empty %}
              <p class="alert alert-warning">A lista está vazia</p>
            {% endfor %}
          </tbody>  
        </table>
      </div>
{% endblock %}
