{% extends 'produto/base.html' %}

{% block content %}
<style>
  h3 {
    margin-top: 10%;
  }
</style>
<h1>
    Bem vindo ao sistema de controle de estoque
</h1>
  <h3 class="text-center">
    {% if user.is_authenticated %}
      Você está logado como {{ user.username }}!
   
      <a href="{% url 'logout' %}">
        <button  type="button" class="btn btn-primary btn-large btn-voltar  float-center"><i class="fa-solid fa-right-from-bracket"></i> Logout </button>
      </a>
      
    {% else %}
      Você não está logado
    
      <a href="{% url 'login' %}">
        <button  type="button" class="btn btn-primary btn-large btn-voltar  float-center"><i class="fa-regular fa-user"></i> Login </button>
      </a>
      
    {% endif %}
  </h3> 





{% endblock %}
